@use "./tabledataVars.scss" as dv;

.tabledata-input {
    color: #363636;
    display: block;
    font-size: dv.$header-input-font-size;
    width: 100%;
    height: 28px;
    padding: 1px 1px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color:#dbdbdb;
    box-sizing: border-box;
}