@use "./tabledataVars.scss" as dv;
/*
* Pager control
* ----------------  
*/
.tabledata-pager {
    text-align: center;
    ul {
        justify-content: center;
        display: inline-flex;
        list-style: none;
        margin: 10px;
        padding: 0;
    }
    li + li button {
        margin-left: 3px;
    }
    button {
        background-color: dv.$pager-button-background;
        border-radius: 9999px;
        border: dv.$pager-button-border;
        box-sizing: content-box;
        text-decoration: none;
        display: inline-block;
        padding: 0.3em 0.6em;
        text-align: center;
        cursor: pointer;
        color: dv.$pager-button-color;
    }
    button:focus, button:hover {
        background-color: dv.$pager-hover-background;
        color: dv.$pager-hover-color;
    }
    & .active button {
        background-color: dv.$pager-active-button-background;
        border-color: dv.$pager-active-button-border-color;
        color: dv.$pager-active-button-color;
    }
    & .disabled button {
        background-color: #EFEFEF;
        text-decoration: none;
        cursor: not-allowed;
        color: #777777;
        outline: none;
    }
  }