.tabledata-multi-select { 
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 100%;
    user-select: none;
}
.tabledata-multi-select-header {
    border: 1px solid #dee2e6;
    padding: 2px 30px 2px 12px;
    overflow: hidden;
    gap: 7px;
    height: 28px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
        height: 12px;
        width: 12px;
    }
 }
 .tabledata-multi-select-header-active {
    border-color: #c1c9d0;
    &::after {
        transform: translateY(-50%) rotate(180deg);
    }
    & + .tabledata-multi-select-options {
        display: flex;
    }
}
.tabledata-multi-select-header-placeholder {
    color: #65727e;
}
.tabledata-multi-select-header-option {
    display: inline-flex;
    align-items: center;
    background-color: #f3f4f7;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 5px;
}
.tabledata-multi-select-options {
    display: none;
    box-sizing: border-box;
    flex-flow: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f0f1f3;
    }
    &::-webkit-scrollbar-thumb {
        background: #cdcfd1;
    }
}
.tabledata-multi-select-option {
    padding: 4px 12px;
    height: 30px;
}
.tabledata-multi-select-option-radio {
    margin-right: 14px;
    height: 12px;
    width: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    &:hover, &:active {
        background-color: #f3f4f7;
    }
}
.tabledata-multi-select-option-text {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.tabledata-multi-select-selected {
    $color: #40c979;
    .tabledata-multi-select-option-radio {
        border-color: $color;
        background-color: $color;
        &::after {
            content: '';
            display: block;
            width: 3px;
            height: 7px;
            margin: .12em 0 0 .27em;
            border: solid #fff;
            border-width: 0 .15em .15em 0;
            transform: rotate(45deg);
        }
    }
    .tabledata-multi-select-option-text {
        color: $color;
    }
}
.tabledata-multi-select-header, .tabledata-multi-select-option {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #212529;
}