$grid-font-size: 12px;
$grid-margin-bottom: 10px;
$grid-background-color: #fff;

$header-font-size: 12px;
$header-input-font-size: 12px;

$pager-button-background: #FFFFFF;
$pager-button-border: 1px solid #DDDDDD;
$pager-button-color: #337AB7;

$pager-hover-background: #F7F7F7;;
$pager-hover-color: #014C8C;

$pager-active-button-color: #FFFFFF;
$pager-active-button-background: #0275D8;
$pager-active-button-border-color: #0275D8;